.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
ul {
  padding-left: 0;
}

.questionList {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #252525;
}
.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 0 10px;
}
.question-info {
  display: inline-block;
}

.newQuestionHeader {
  text-align: center;
  font-weight: bold;
}

.progressBar {
  margin: 10px 0;
}


.resultCard {
  border-color: #333;
  opacity: 0.7;
}

.yourVote {
  text-align: right;
  font-weight: bold;
}

.myBadge {
  margin-left: 20px;
}
