.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
ul {
  padding-left: 0;
}

.questionList {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #252525;
}
.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 0 10px;
}
.question-info {
  display: inline-block;
}

.newQuestionHeader {
  text-align: center;
  font-weight: bold;
}
